* {
	
	font-family: 'Courier New', Courier, monospace;
	
}

/* unvisited link */
 a:link.link {
	color: rgb(50, 190, 70);
	display: inline-block;
  }
  
  /* visited link */
  a:visited.link {
	color: rgb(50, 190, 70);
	display: inline-block;
  }
  
  /* mouse over link */
  a:hover.link {
	color: hotpink;
	display: inline-block;
  }
  
  /* selected link */
  a:active.link {
	color: blue;
	display: inline-block;
  } 

body {
	background-color: #583cd9;
}

nav {
	text-decoration: none;
	display: inline;
	text-align: center;
	
}

nav .navitem
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}

nav .navitem
{
	float: left;
}

.nav-current
{
	background-color: green;
}

nav a {
	
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

nav .navitem:hover {
	background-color: #111111;
}
nav #current
{
	text-decoration: underline;
}

.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.video
{
	display: block;
}

.article-section
{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
	padding-bottom: 2%;
}

.article-content
{
    background-color: rgba(0, 0, 0, 0.3);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
	padding-bottom: 8%;
	
}

.article-content *
{
	
}

.article-content p, .article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5
{
	
}

.article-item
{
	margin: 0 auto;
	display: block;
	text-align: left;
	width: 75%;
	
}

.article-item *:not(li)
{
	/*margin: 0 auto;
	display: block;*/
	
}

.article-item p
{
	padding-top: 2%;
}

.article-item ul, .article-item li
{
	
}

.article-content h1
{
    background-color: black;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.article-content
{
    color: rgba(200, 200, 200, 1.0);
    padding: 1%;
}

.toc-section
{
    padding: 0.5% 1% 1% 20px;
    width: 10%;
    background-color: rgb(80, 10, 200);
    margin: auto;
}

.toc-section h3
{
    color: rgb(150, 150, 150);
}

.toc-item
{
    padding-top: 5%;
    padding-left: 20px;
}

.toc-item a
{
    text-decoration: none;
}