.portfolio-section
{
    
    /*background-color: rgba(255, 255, 255, 0.39);*/
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.portfolio-content
{
    background-color: rgba(0, 0, 0, 0.15);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.portfolio-content h1
{
    background-color: black;
    color: white;
}