

html {
    background-color: rgb(175, 175, 175);

    color: rgb(227, 250, 235);

    display: flex;
    justify-content: center;

    background-image: url('creativity.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.section {
    padding-left: 5%;
    padding-right: 5%;

    
}

#headline {
       
}

#headline-div {
    float: left;
}

#headline-div p {
    font-style: italic;
    font-size: large;
}

#img-bottle {
    

    width: 300px;
}

#img-molecule {
    display:inline-block;
    width: 360px;
}

#bullet-list {
    color: rgb(234, 255, 236);
}

li {
    padding-top: 1%;
}

.button {
    text-align: center;
    
}

#form {
    background-color: rgba(0, 0, 0, 0.575);

    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 5%;
}

.button button {
    padding: 1% 1% 1% 1%;
    color: rgb(0, 0, 0);
    
    background-color: rgb(188, 235, 149);
}

.section p {
    font-weight: bold;
}

.center-align {
    text-align: center;
    text-decoration:underline;
}