

html {
    background-color: rgb(110, 99, 202);

    color: rgb(183, 199, 170);

    display: flex;
    justify-content: center;
}

.section {
    padding-left: 5%;
    padding-right: 5%;

    
}

#headline {
       
}

#headline-div {
    float: left;
}

#headline-div p {
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
}

#img-bottle {
    float: right;

    padding-left: 10%;
    padding-bottom: 20%;
}

#bullet-list {
    color: rgb(188, 235, 149);
}

li {
    padding-top: 1%;
}

.button {
    text-align: center;
    
}

#form {
    background-color: rgb(84, 72, 192);

    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 5%;
}

.button button {
    padding: 1% 1% 1% 1%;
    color: rgb(0, 0, 0);
    
    background-color: rgb(188, 235, 149);
}
